 {%extends "base.html"%}
{%block body%}  


  <nav role="sub"><ul>
    <li><a href="https://www.instagram.com/mays.eid/" style="color:black;text-decoration: none;"><img class="inst" src="../static/ins.png"></a></li>

    <img class=snap src="../static/Screenshot_2017-04-07-14-18-55-2.png"style="border-radius:66px;"/>

    <li a><a href ="mailto:mayseid5@gmail.com" target="_top">
    <img class="gmail" src="../static/gmail.png"/></a><li>
  
    <li a><a href ="https://wecodepalestine.slack.com/messages/@slackbot/team/mays.eid/" target="_blank">
    <img class="slack" src="../static/slack.png"/></a></li>
  </nav>


<script type="text/javascript"></script>
{%endblock%}